<!DOCTYPE html>
<html>
<head>
  <title>Socio</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  
 <nav>
    <div  class="indigo darken-4 nav-wrapper">
        <div style="margin-top:5px;" class="brand-logo left"> <%=image_tag("logo.png", alt: "Example Image")%> </div>

    </div>
</nav>
    <div class="container">
        <%= yield %>
    </div>

</body>
</html>
